@model MSUniversity.Models.Teacher

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<hr>
<div>
    @ViewBag.Message
</div>
@using (Html.BeginForm("Create","Teachers",FormMethod.Post))
{
<div class="form-horizontal">
    <div class="form-group col-lg-4">
        @Html.EditorFor(m => m.Name, new { htmlattributes = new { @class = "form-control", placeholder = "Name" } })
    </div>
    <div class="form-group col-lg-4">
        @Html.EditorFor(m => m.Address, new { htmlattributes = new { @class = "form-control", placeholder = "Address" } })
    </div>
    <div class="form-group">
        <div class="col-md-10 col-lg-4">
            @Html.EnumDropDownListFor(m => m.Designation, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-lg-4">
        @Html.DropDownListFor(m => m.DepartmentId, null, new { @class = "form-control" })
    </div>
    <div class="form-group col-lg-4">
        @Html.EditorFor(m => m.Email, new { htmlattributes = new { @class = "form-control", placeholder = "Email" } })
    </div>
    <div class="form-group col-lg-4">
        @Html.EditorFor(m => m.ContactNo, new { htmlattributes = new { @class = "form-control", placeholder = "Contact No" } })
    </div>
    <div class="form-group col-lg-4">
        @Html.EditorFor(m => m.CreditToTaken, new { htmlattributes = new { @class = "form-control", placeholder = "Credit To Taken" } })
    </div>
    <div class="col-md-10">
        <input type="submit" value="Save" class="btn btn-success col-lg-1" />
    </div>
</div>
}
