@model MSUniversity.Models.CourseAssign

@{
    /**/

    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Assign</h2>
<hr />
<div>
    @ViewBag.Message
</div>

@using (Html.BeginForm("Create", "CourseAssign", FormMethod.Post))
{
    <div class="form-group col-lg-4">
        @Html.Label("Department", "Department", new { @class = "control-label" })
        @Html.DropDownList("DepartmentId", null, new { @class = "form-control" })
    </div>
    <div class="form-group col-lg-4">
        @Html.Label("Teacher", "Teacher", new { @class = "control-label" })
        @Html.DropDownList("TeacherId", null, new { @class = "form-control" })
    </div>
    <div class="form-group col-lg-4">
        <label>Credit To Taken</label>
        @*@Html.Label("CreditToTaken", "CreditToTaken", new { @class = "control-label" })*@
        <input type="text" class="form-control" name="CreditToTaken" />
        @*@Html.Editor("CreditToTaken", null, new { @class = "form-control" })*@
    </div>
    <div class="form-group col-lg-4">
        @Html.Label("RemainingCredit", "Remaining Credit", new { @class = "control-label" })
        @*@Html.Editor("RemainingCredit", null, new { @class = "form-control" })*@
        <input type="text" class="form-control" name="RemainingCredit" />
    </div>
    <div class="form-group">
        @Html.Label("Course", "Course", new { @class = "control-label col-md-2" })
        <div class="form-group col-lg-4">
            @Html.DropDownList("CourseId", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-lg-4">
        @Html.Label("Name", "Name", new { @class = "control-label" })
        @Html.TextBox("Name", null, new { @class = "form-control" })
    </div>
    <div class="form-group col-lg-4">
        @Html.Label("Credit", "Credit", new { @class = "control-label" })
        @Html.TextBox("Credit", null, new { @class = "form-control" })
    </div>
    <div class="form-group col-lg-4">
        <input type="submit" class="btn btn-primary" />
    </div>
    @*<div class="form-group col-lg-4">
            @Html.Label("Credit", "Credit", new { @class = "control-label" })
            @Html.DropDownList("Credit", null, new { @class = "form-control" })
        </div>*@
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#DepartmentId').change(function () {
                $('#TeacherId').empty();
                $("#TeacherId").append('<option value="">--Select--</option>')
                var deptId = $('#DepartmentId').val();
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssign/GetTeacherByDeptId',
                    contentType: "application/json",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            //alert(value.Name);
                            $("#TeacherId").append('<option value=' + value.TeacherId + '>' + value.Name + '</option>')
                        })
                    }
                })
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('#DepartmentId').change(function () {
                $('#CourseId').empty();
                $("#CourseId").append('<option value="">--Select--</option>')
                var deptId = $('#DepartmentId').val();
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssign/GetCourseByDeptId',
                    contentType: "application/json",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#CourseId").append('<option value=' + value.CourseId + '>' + value.Code + '</option>')
                        })
                    }
                })
            })
        })
    </script>
}
